*{
    padding: 0;
    margin: 0;
}

main{
    max-width: 100%;
}

ul{
    list-style: none;
    display:flex;
    width: 100%;
}

li{
    margin: 0 auto 0 auto;
    position: relative;
}

.tier_list{
    top: 10%;
    left: 0.4%;
    right: 50%;
    position: absolute;
    max-width: 1000px;
    min-width: 600px;
}

.vid_showcase{
    max-width: 1000px;
    min-width: 600px;
    top: 0;
    left: 107%;
    border-radius: 20px;
    position: absolute;
    display: block;
    background-color: black;
}

video{
    height: 20rem;
    position: absolute;
    display: none;
    border-radius: 20px;
}

.boat{
    width: 100%;
    opacity: 0;
}

.table{
    max-width: 1000px;
    min-width: 600px;
    row-gap: 2.7rem;
    top: 12.4%;
    left: 5.3rem;
    position: absolute;
    grid-template-rows: 6.4% 6.4% 6.4% 6.4% 6.4%;
    display: grid;
}

.row-1{
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
}

.row-2 {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
}

.row-3 {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
}

.row-4 {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
}

.row-5 {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
}

.item{
    width: fit-content;
}

.h3{
    display: none;
}